/* styles/Home.module.css */

body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url("/image.jpg");
    background-size: cover; /* تصویر کل صفحه را بپوشاند */
    background-position: center; /* مرکز تصویر نمایش داده شود */
    background-repeat: no-repeat; /* تصویر تکرار نشود */
    min-height: 100vh;
    color: black;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#weather {
    background-color: rgba(0,0,0,0.5); /* پس‌زمینه تیره با شفافیت */
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    color:#333;
}